<p>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span class="logo">
        <a [routerLink]="['/']">Stats Spotify</a>
      </span>

      <span class="spacer-nav">
        <a [routerLink]="['/musics']" routerLinkActive="router-link-active">Músicas</a>
      </span>

      <span class="spacer-nav">
        <a [routerLink]="['/artists']" routerLinkActive="router-link-active">Artistas</a>
      </span>

      <span class="spacer-nav">
        <a [routerLink]="['/playlists']" routerLinkActive="router-link-active">Playlists</a>
      </span>

      <span class="example-spacer"></span>
      <span *ngIf="!userLogged">
        <a [href]="redirectURL">Entrar</a>
      </span>

      <button *ngIf="userLogged" mat-button [matMenuTriggerFor]="menu">Olá, Vitor</button>
      <mat-menu #menu="matMenu">
        <a class="button-exit" mat-raised-button href="https://www.google.com/" target="_blank">Sair</a>
      </mat-menu>
    </mat-toolbar-row>
  </mat-toolbar>
</p>
