<mat-toolbar color="primary">
  <mat-toolbar-row>
    <img [routerLink]="['/']" class="logo" src="assets/logo.svg" alt="Logo do Stats Spotify">

    <button
      [routerLink]="['/musics']"
      routerLinkActive="router-active"
      class="spacer-nav"
      mat-button
    >Músicas</button>

    <button
      [routerLink]="['/artists']"
      routerLinkActive="router-active"
      class="spacer-nav"
      mat-button
    >Artistas</button>

    <button
      [routerLink]="['/playlists']"
      routerLinkActive="router-active"
      class="spacer-nav"
      mat-button
    >Playlists</button>

    <span class="example-spacer"></span>

    <span *ngIf="!userLogged">
      <a mat-button [href]="redirectURL">Entrar</a>
    </span>

    <button *ngIf="userLogged" mat-button [matMenuTriggerFor]="menu">Olá, {{ name }}</button>
    <mat-menu #menu="matMenu">
      <button (click)="logout()" class="button-exit" mat-button color="warn">Sair</button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
