.example-spacer {
  flex: 1 1 auto;
}

mat-toolbar button, mat-toolbar a {
  font-size: 16px;
}

.mat-toolbar-multiple-rows {
  height: 55px;
}

.router-active {
  background-color: #283593;
}

.spacer-nav {
  flex: .1 1 auto;
  margin-left: 30px;
}

.logo {
  max-height: 60%;
  max-width: 100%;
}

.logo:hover {
  cursor: pointer;
}

.button-exit {
  width: 100%;
}

@media screen and (max-width: 750px) {
  .navbar-desktop {
    display: none;
  }
}
