.card {
  box-shadow: 0px 0px 15px -5px #0000008a;
  margin: 50px 10px;
  text-align: left;
}

mat-card {
  width: 220px;
  height: 220px;
}

.card mat-card-title {
  font-size: 15px;
  color: rgba(0, 0, 0, 0.7);
  width: 205px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 500;
}

.card mat-card-subtitle {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.6);
}

.card img {
  max-width: 100%;
  object-fit: fill;
  box-shadow: 0px 0px 15px -5px #00000070;
}

.mat-mdc-card-header {
  padding: 10px;
  color: white;
}
