.card-home {
  width: 350px;
  color: #0000008a;
  padding: 15px;
  margin-bottom: 30px;
}

.card-home h2 {
  font-size: 25px;
}

.card-home p {
  font-size: 15px;
  line-height: 30px;
  margin-bottom: 20px;
}
