<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      >
    <mat-toolbar>
      <button
        type="button"
        mat-icon-button
        (click)="drawer.toggle()">
      <mat-icon aria-label="Side nav toggle icon">close</mat-icon>
      </button>

      <p *ngIf="name.length">Olá, {{ name }}</p>
      <p *ngIf="!name.length">Bem vindo</p>

      <button *ngIf="name.length" (click)="logout(drawer)" mat-button color="warn">Sair</button>
      <a *ngIf="!name.length" mat-raised-button [href]="redirectURL">Entrar</a>
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="/musics">Músicas</a>
      <a mat-list-item href="/artists">Artistas</a>
      <a mat-list-item href="/playlists">Playlists</a>
    </mat-nav-list>

    <img class="logo-nav-mobile" src="assets/logo.svg" alt="Logo do Stats Spotify">
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span class="example-spacer"></span>
      <img [routerLink]="['/']" class="logo" src="assets/logo.svg" alt="Logo do Stats Spotify">
    </mat-toolbar>
  </mat-sidenav-content>
</mat-sidenav-container>
